.wrapper {
    width: 100%;
    padding: 0.2em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

}

.wrapper > span {
    font-size: 0.9em;
    width: 7em;
}
.wrapper > a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wrapper > a:hover {
    text-decoration: underline;
}